*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     font-family: 'poppins', sans-serif;
     line-height: 1.7;
     color: black;
     background-color:white; 
    
}
 .site-header{
    position:sticky;
    top:0;
    left: 0;
    z-index: 1000; 
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

 
.header-logo{
    display:flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo img{
    width: 200px;
    height: 200px;
}
.reservation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-reser{
    width: fit-content;
    padding:12px 20px;
    margin-bottom: 20px;
    background-color:skyblue;
    font-weight: bold;
    color:white;
    border: none;

}
.reser-lien{
    display: flex;
    gap: 25px;
    list-style: none;
    
}
.reser-lien a{
    text-decoration: none;
    color:black;
}
.nav-lien{
    display: flex;
    justify-content:baseline;
    gap: 15px;
    list-style: none;
    background-color:blue;
    padding: 20px 40px;

}
.nav-lien a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 20px 30px;
   
}
.nav-lien a:hover{
    text-decoration: underline;
}